.btn-ijo{
  background-color: #35a31f !important;
  font-size: 13px;
}
.btn-putih{
  background-color: #ffffff !important;
  color: #000000;
  font-weight: bold;
  font-size: small;
  padding: 10px;
  width: 180px;
  transition-duration: 0.2s;
}
.btn-putih:hover{
  transition-duration: 0.2s;
  color: #000000;
  background-color: #a8a8a8 !important;
}
.bg-default{
  background-color: #364760;
}

.active-line{
  border-bottom: 2px solid #ffffff;
}

body {
  background-color: #364760;
  font-family: "Open Sans";
}

.dd{
  border: solid #000000 3px;
}

.nav-one{
  background-color: #205081;
  font-size: small;
  color: #fff;
}
.nav-second{
  background-color: #364760;
  margin-bottom: 20px;
  font-size: small;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav .nav-item .nav-link{
  color: #ffffff !important;
}
.navbar-nav .nav-item{
  padding-left: 10px;
  padding-right: 10px;
}

.navbar .divider-vertical {
  display: inline-block;
  height: 30px;
  margin: 0 0px;
  border-right: 2px solid rgba(255, 255, 255, 0.31);
}

.navbar .divider-vertical-black {
  height: 30px;
  margin: 2px 2px;
  border-right: 2px solid rgba(0, 0, 0, 0.05);

}

.navbar .divider-vertical-black-no-margin {
  height: 30px;
  margin: 2px 0px;
  border-right: 2px solid rgba(0, 0, 0, 0.05);

}

.normalize-padding{
  margin-left: -20px;
  margin-right: 5px;
}

@media (min-width: 480px) {
  .normalize-padding{
    margin-left: 0px;
    margin-right: 0px;
  }
  .hide-on-small{
    display: none;
  }
  .show-on-small{
    visibility: visible;
  }
}

/* avability control
***********************/
@media (min-width:992px) {
  .desktop-only {
    display:block !important;
  }

  .mobile-only {
    display:none !important;
  }

}

@media (max-width: 991px) {
  .mobile-only {
    display:block !important;
  }

  .desktop-only {
    display:none !important;
  }
}

.navbar-brand{
  margin-right: 40px;
}

/* Mobile Navigation Control
*****************************
 */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.on-tabs{
  margin: 15px;
}
.card-content{
  margin: 10px;
}
.menu-table-card{
  margin-bottom: 10px;
}
.menu-table-card .list-menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list-menu li{
  display: inline;
  margin-right: 5px;
}

.list-menu .menu-right{
  float: right;
  margin-left: 10px;
}
.card-block{
  padding: 10px;
}
.card-block .numactive{
  font-size: 32px;
}
.list-group-item .title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: -1px;
}
.list-group-item span{
  font-size: 13px;
}
.hidden-bottom-border{
  border-bottom: solid 3px #364760;
}
.filter-date{
  margin-bottom: 15px;
}
.col-md-3 .card{
  color: #ffffff !important;
  border-left: solid 3px #364760;
  border-right: solid 3px #364760;
}
.hide-left-right{
  border-left: solid 3px #364760;
  border-right: solid 3px #364760;
}
.filter-date .form-group{
  margin-right: 10px !important;
}
.title-names{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -8px;
}
.description-name{
  font-size: 12px;
}

.input-sm{
  height: 30px !important;
  padding: 5px;
  background-color: #205081;
  color: #ffffff;
  border-radius: 2px;
}
.input-ss{
  height: 40px !important;
  padding: 5px;
  border-radius: 2px;
  background-color: #e2e7ec !important;
  border: 1px solid #e2e7ec;
}
.input-sss{
  border: 1px solid #ffffff;
  height: 40px !important;
  padding: 5px;
  border-radius: 2px;
  background-color: #ffffff !important;
}
/* Tabs Control
*******************/

.nav-tabs > li > a:focus{
  background-color: #ecf2f6 !important;
  border: medium none;
  border-radius: 0;
}
.nav-tabs{
  width: 100%;
}
.nav-tabs .nav-item .nav-link{
  color: #364760 !important;
  font-weight: bold;
  font-size: 14px;
}
/* Table Control
*********************/
.table-striped{
  background-color: #ffffff;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #f4f9fc;
}
.table > tbody > tr > td {
  vertical-align: middle;
}

/* Costume Grid
*********************/
.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

@media (min-width: 992px) {

}
